<div style="padding: 0 5px;" class="{{ cl }}">
    <button class="button-xsmall pure-button" onclick="add_item('{{ item_type_name }}')" style="float:right;">+</button>
    <h4 class="h" title="{{ item_type_name }} - {{ item_type_desc }}">
        
        {{ item_type_desc }}
        
    </h4>
    <ul class="items {{ item_type_name }}">
        {% for item in items %}
            <li>
                <label for="item_{{ item.id }}"  {% if item.color %}style="background-color: {{ item.color }};"{% endif %}><input id="item_{{ item.id }}" type="checkbox" name="item" value="{{ item.id }}"/> {{ item.content }}</label>
            </li>
        {% endfor %}
    </ul>
</div>