{% extends "root.html" %}

{% block content %}
<form class="pure-form pure-form-stacked" action="." method="post">
    <fieldset>
        <legend>
            {% if item %}
                Item {{ item.id }}
            {% else %}
                New item
            {% endif %}
        </legend>
        {% csrf_token %}
        {% if unit %}
            <input type="hidden" name="unit_id" value="{{ unit.id }}"/>
        {% endif %}
        
        <label>Item type</label>
        <select name="item_type" required="required">
            <option></option>
            {% for item_type in item_types %}
                <option value="{{ item_type.0 }}" {% if item and item.item_type == item_type.0 or itype == item_type.0 %}checked="checked"{% endif %}>{{ item_type.0 }} - {{ item_type.1 }}</option>
            {% endfor %}
        </select>
        
        <label>Content</label>
        <textarea name="content">{% if item %}{{ item.content }}{% endif %}</textarea>
        
        <label>Color</label>
        <input type="color" name="color" value="{% if item %}{{ item.color }}{% endif %}"/>
        
        <input type="submit" class="pure-button"/>
    </fieldset>
</form>
{% endblock %}