{% extends "root.html" %}

{% block content %}
<form class="pure-form pure-form-stacked" action="." method="post">
    <fieldset>
        <legend>
            {% if unit %}
                {% with unit as obj %}
                    {% include "objname.html" %}
                {% endwith %}
            {% else %}
                New unit
            {% endif %}
        </legend>
        {% csrf_token %}
        {% if unit %}
            <input type="hidden" name="unit_id" value="{{ unit.id }}"/>
        {% endif %}
        <label>Name</label>
        <input type="text" name="name" required="required" {% if unit %}value="{{ unit.name }}"{% endif %}/> 
        
        <label>Desc</label>
        <textarea name="desc">{% if unit %}{{ unit.desc }}{% endif %}</textarea>
        
        <input type="submit"/>
    </fieldset>
</form>
{% endblock %}