{% extends "root.html" %}

{% block title %}{{ unit.name }}{% endblock %}

{% block content %}
<div>
    {% if unit.desc %}
        <p>{{ unit.desc }}</p>
    {% endif %}
    <form id="form" action="." method="post" class="pure-form">
            <fieldset>
    
    <input id="colorinput" type="color" name="color" style="margin-right: 10px;" onchange="colorize_items()"/>
    <button class="pure-button" onclick="del_items()">Delete</button>
    <div style="margin-top: 5px;">
        <table border="1" width="100%">
            <tr>
                <td width="20%" rowspan="2">
                    <div class="large">
                    {% with  item_type_name="KP" item_type_desc=item_types_dict.KP items=items.KP %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="20%">
                    <div class="small">
                    {% with  item_type_name="KA" item_type_desc=item_types_dict.KA items=items.KA %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="20%" rowspan="2">
                    <div class="large">
                    {% with  item_type_name="VP" item_type_desc=item_types_dict.VP items=items.VP %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="20%">
                    <div class="small">
                    {% with  item_type_name="CR" item_type_desc=item_types_dict.CR items=items.CR %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="20%" rowspan="2">
                    <div class="large">
                    {% with  item_type_name="CSt" item_type_desc=item_types_dict.CSt items=items.CSt %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
            </tr>
            </tr>
                <td width="20%">
                    <div class="small">
                    {% with  item_type_name="KR" item_type_desc=item_types_dict.KR items=items.KR %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="20%">
                    <div class="small">
                    {% with  item_type_name="CH" item_type_desc=item_types_dict.CH items=items.CH %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%" border="1">
            <tr>
                <td width="50%">
                    <div class="small">
                    {% with  item_type_name="CSg" item_type_desc=item_types_dict.CSg items=items.CSg %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
                <td width="50%">
                    <div class="small">
                    {% with  item_type_name="RSt" item_type_desc=item_types_dict.RSt items=items.RSt %}
                        {% include "item_block.html" %}
                    {% endwith %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
        {% csrf_token %}
        <input type="hidden" name="content"/>
        <input type="hidden" name="act"/>
        <input type="hidden" name="item_type"/>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block libs %}
<style>
    .small {
        min-height: 200px;
    }
    
    .large {
        min-height: 400px;
    }
    
    .h {
        margin-top: 5px;
    }
    
    .units {
        list-style: none;
        margin-left: 0px;
    }
    
    .button-xsmall {
        font-size: 70%;
    }

    .button-small {
        font-size: 85%;
    }

    .button-large {
        font-size: 110%;
    }

    .button-xlarge {
        font-size: 125%;
    }
</style>

<script>
        function add_item(t) {
            var item = prompt("Input item text here")
            if (item != "" && item != null) {
                var form = $("#form");
                form.attr("action", ".")
                form.find("input[name=content]").val(item)
                form.find("input[name=item_type]").val(t)
                form.submit()
            }
        };
        
        function del_items() {
                var form = $("#form");
                form.attr("action", "{% url 'act_items' num=unit.id %}")
                form.find("input[name=act]").val("delete")
                form.submit()
        };
        
        function colorize_items() {
                var form = $("#form");
                form.attr("action", "{% url 'act_items' num=unit.id %}")
                form.find("input[name=act]").val("colorize")
                form.submit()
        };
</script>
{% endblock %}